<html>
{{> header }}
<body>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">generate data classes!</h1>
        <p>This tool generates Kotlin Data class code for use with the http4k auto body conversion functionality.</p>
    </div>
    <div class="example">
        <div>
            <h4>JSON</h4>
            <script src="https://gist-it.appspot.com/https://github.com/daviddenton/http4k-data-class-gen/tree/master/src/main/kotlin/json/example.kt"></script>
        </div>
        <div>
            <h4>XML</h4>
            <script src="https://gist-it.appspot.com/https://github.com/daviddenton/http4k-data-class-gen/tree/master/src/main/kotlin/gsonXml/example.kt"></script>
        </div>
    </div>
</div>
</body>
</html>