<html>
{{> header }}
<body>
{{#if error}}
    <li class="error">{{error}}</li>
{{/if}}

<form method="POST">
    <textarea name="input">{{input}}</textarea>
    <br/>
    <button>Convert JSON to Kotlin</button>
</form>
{{#if output}}
    <hr/>
    <textarea contenteditable="false">{{output}}</textarea>
{{/if}}
</body>
</html>